!!!html5
%html
  %head
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    %title ご注文は何のアニメですか？
    %link(rel='stylesheet' href='/css/bootstrap.min.css')
    %link(rel='shortcut icon' href='/img/favicon.ico')
    <link href="/css/sign.css" rel="stylesheet">
  %body
    %hr
      %div.container{:align => "center"}
        %p is order a anime?
    %hr
    %div.container{:align => "center"}
      %h2 あなたのTwitterアカウントIDを入力してください
      %form.form-signin{:action => "./inputid", :method => "post", :enctype => "application/x-www-form-urlencoded"}
        <input name="inputId" id="inputId" class="form-control" placeholder="TwitterアカウントID(@以下の文字列)" required autofocus>
        %br
        <button class="btn btn-lg btn-primary btn-block" type="submit">送信</button>


      %p 推薦対象：2015年秋期のアニメ作品
      %p 2015年10月~12月のアニメに関する呟きデータを元に、あなたにお薦めなアニメを推薦します

      <img src="/image/top/r1.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236" onclick="window.open('/image/top/r1.jpg')">
      <img src="/image/top/r2.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236" onclick="window.open('/image/top/r2.jpg')">
      <img src="/image/top/r3.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236" onclick="window.open('/image/top/r3.jpg')">

      <div class="mastfoot" style="margin-top: 50px;">
      <div class="inner">
      <p>Create by <a href="https://github.com/Project-ShangriLa">Project ShangriLa</a>.</p>
      <p><a href="http://akibalab.info/">秋葉原IT戦略研究所</a></p>
      </div>
      </div>
